@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply transition-colors duration-200;
}

:root {
  /* Primary colors */
  --primary: 79, 70, 229;
  --primary-light: 99, 102, 241;
  --primary-dark: 67, 56, 202;
  
  /* Neutral colors */
  --gray-100: 243, 244, 246;
  --gray-800: 31, 41, 55;
}

/* Dark mode variables */
.dark {
  --primary: 99, 102, 241;
  --primary-dark: 79, 70, 229;
}


html {
  scroll-behavior: smooth;
}


@layer base {
  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-200;
  }
  
  /* Add any other base styles here */
}